/**/
#yes{
    background-color: #F78181;
}
#no{
    background-color: #81BEF7;
}
#back{
    background-color: #FFBF00;
}

#start{
    background-color: #FFBF00;
}
#btn_return{
    background-color: #FFBF00;
}
